<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>METS Program</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.UgandaEMRActivator</activator>
	
	<!-- Adds link to admin page -->
	
	<!-- Maps hibernate file's, if present -->

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Required Modules -->

	<require_modules>
        <require_module>
            org.openmrs.module.appframework
        </require_module>
        <require_module>
            org.openmrs.module.dataexchange
        </require_module>
		<require_module>
			org.openmrs.module.dataintegrity
		</require_module>
        <require_module>
            org.openmrs.module.emrapi
        </require_module>
        <require_module>
            org.openmrs.module.formentryapp
        </require_module>
        <require_module>
            org.openmrs.module.htmlformentry
        </require_module>
        <require_module>
            org.openmrs.module.htmlformentryui
        </require_module>
        <require_module>
            org.openmrs.module.idgen
        </require_module>
        <require_module>
            org.openmrs.module.metadatadeploy
        </require_module>
        <require_module>
            org.openmrs.module.patientflags
        </require_module>
		<require_module>
			org.openmrs.module.referenceapplication
		</require_module>
        <require_module>
            org.openmrs.module.registrationapp
        </require_module>
        <require_module>
            org.openmrs.module.registrationcore
        </require_module>
        <require_module>
            org.openmrs.module.uiframework
        </require_module>
        <require_module>
            org.openmrs.module.patientqueueing
        </require_module>

        <require_module>
            org.openmrs.module.ugandaemrfingerprint
        </require_module>

        <require_module>
            org.openmrs.module.stockmanagement
        </require_module>
	</require_modules>
	
	<aware_of_modules>
	    <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- Global Properties -->
    <globalProperty>
        <property>ugandaemr.SMSTemplate</property>
        <defaultValue>Dear &lt;name&gt; this is to remind you of your appointment on &lt;date&gt;</defaultValue>
        <description>Facility SMS Template</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.allowDispensingMoreThanPrescribed</property>
        <defaultValue>false</defaultValue>
        <description>Allow dispensers to dispense more than prescribed</description>
        <dataType>org.openmrs.customdatatype.datatype.BooleanDatatype</dataType>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.autoCloseVisit.visitTypeUUID</property>
        <description>The UUID of the visit type that will be closed</description>
        <defaultValue>7b0f5697-27e3-40c4-8bae-f4049abfb4ed</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.clinicianLocationUUIDS</property>
        <description>Comma-separated list of location UUIDs for clinician operation</description>
        <defaultValue>86863db4-6101-4ecf-9a86-5e716d6504e4,11d5d2b8-0fdd-42e0-9f53-257c760bb9a3</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.defaultDateFormat</property>
        <defaultValue>dd/MM/yyyy</defaultValue>
        <description>The date format without time</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dhis2.organizationuuid</property>
        <description>The organization code in DHIS2</description>
        <defaultValue></defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.displayDateFormat</property>
        <defaultValue>dd/MM/yyyy HH:mm:ss</defaultValue>
        <description>Date format for ugandaemr display and date pickers</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.allowClinicalOverrideDSDMPatientStability</property>
        <description>Allow overriding the system’s decision about DSDM Stability</description>
        <defaultValue>false</defaultValue>
        <dataType>org.openmrs.customdatatype.datatype.BooleanDatatype</dataType>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.conceptId</property>
        <description>A Coded concept with all DSDM Concept</description>
        <defaultValue>165143</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.currentRegimenDurationRequirementInMonths</property>
        <description>Months on current regimen required to be categorized as stable</description>
        <defaultValue>6</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.minmunNoOfMonthsOnTBTreatmentRequired</property>
        <description>Minimum months on TB treatment required</description>
        <defaultValue>2</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.programsuuid</property>
        <description>A comma delimited list of Program UUIDS in DSDM</description>
        <defaultValue>de5d54ae-c304-11e8-9ad0-529269fb1459,de5d5b34-c304-11e8-9ad0-529269fb1459,de5d5896-c304-11e8-9ad0-529269fb1459,de5d5da0-c304-11e8-9ad0-529269fb1459,de5d6034-c304-11e8-9ad0-529269fb1459</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.validPeriodInMothsForViralLoad</property>
        <description>Months a viral load result is valid from sample collection</description>
        <defaultValue>12</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.dsdm.viralloadSuppressionCopies</property>
        <description>Maximum suppression viral load for a patient</description>
        <defaultValue>999</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.enableCDDPCategorization</property>
        <defaultValue>false</defaultValue>
        <description>Enable additional CDDP categories</description>
        <dataType>org.openmrs.customdatatype.datatype.BooleanDatatype</dataType>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.enableMaximumPatientsPerDay</property>
        <defaultValue>false</defaultValue>
        <description>Enable or disable limiting the number of patients per day</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.enablePatientQueueSelection</property>
        <defaultValue>false</defaultValue>
        <description>Allow picking patients from queue</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.healthCenterName</property>
        <defaultValue>Health Center Name</defaultValue>
        <description>Allows one to set the name of the health center for this installation</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.hts.recency</property>
        <description>This feature flag turns on/off the recency question</description>
        <defaultValue>false</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.hts.recency.surveillance_report_coverage_months</property>
        <description>The number of months for which the Recency Surveillance Report is generated</description>
        <defaultValue>36</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.initialiseMetadataOnStart</property>
        <description>Initalises forms,concepts, priviialges and concepts on start of system</description>
        <defaultValue>true</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.labWorkListBackLogDaysToDisplay</property>
        <defaultValue>5</defaultValue>
        <description>The number of months for tests backlog to display in the lab worklist and referred tests</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.lostToFollowUpDaysMCH</property>
        <defaultValue>315</defaultValue>
        <description>Number of days when an MCH mother is considered lost to follow up</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.lostToFollowUpDaysTB</property>
        <defaultValue>60</defaultValue>
        <description>Number of days when a TB patient is considered lost to follow up</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.maximumPatientsPerDay</property>
        <description>The maximum number of patients that can have appointments on a single day</description>
        <defaultValue></defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.nhpi</property>
        <defaultValue>HFT2ZBPE8</defaultValue>
        <description>Allows one to set the National Health Provider Identifier</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.patientflags.disabledFlags</property>
        <description>Names of flags to disable, separated by commas</description>
        <defaultValue></defaultValue>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.receptionLocationUUID</property>
        <defaultValue>4501e132-07a2-4201-9dc8-2f6769b6d412</defaultValue>
        <description>UUID of the Reception</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.showNationalIDPatientIdentifier</property>
        <defaultValue>true</defaultValue>
        <description>This enables or disables the use of the National ID to be used in the search widget </description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.showARTPatientNumberIdentifier</property>
        <defaultValue>false</defaultValue>
        <description>Whether or not to show the ART patient number identifier</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.enableStockManagement</property>
        <defaultValue>false</defaultValue>
        <description>This allows the facility to use the stock management module in the clinical rooms and pharmacy</description>
        <dataType>org.openmrs.customdatatype.datatype.BooleanDatatype</dataType>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.showRefugeeIdentifier</property>
        <defaultValue>false</defaultValue>
        <description>Whether or not to show the refugee identifier</description>
    </globalProperty>

    <globalProperty>
        <property>fhir2.administeringEncounterRoleUuid</property>
        <defaultValue>240b26f9-dd88-4172-823d-4a8bfeb7841f</defaultValue>
        <description>The   encounter role uuid that supports immunization app</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.labReferenceListBackLogDaysToDisplay</property>
        <defaultValue>1</defaultValue>
        <description>The number of months for tests backlog to display in the lab worklist and referred tests</description>
    </globalProperty>

    <globalProperty>
        <property>patientqueueing.locationTagPatientQueueCategory</property>
        <defaultValue>3e525526-cd66-46ad-96b3-224d46e75676,96be1b53-e65c-494b-be41-b36899cb5d09,c0e1d1d8-c97d-4869-ba16-68d351d3d5f5,303ab6e0-3844-11ee-be56-0242ac120002,7984dc1e-3848-11ee-be56-0242ac120002,fe7c970f-2aba-11ed-ba4a-507b9dea1806,89a80c4d-2899-11ed-bdcb-507b9dea1806</defaultValue>
        <description>A comma separated list of location uuids for location tags where patients are served from</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.patientqueue.averageWaitingTime</property>
        <defaultValue>30</defaultValue>
        <description>The average waiting time for a patient in a queue in minutes</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemrsync.searchableProfileList</property>
        <defaultValue>84242661-aadf-42e4-9431-bf8afefb4433,0b7eb397-4488-4a88-9967-a054b3c26d6f,f2190cf4-2236-11ee-be56-0242ac120002</defaultValue>
        <description>A list of profiles that should appear in the search list on the patient search</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.showResearchPatientIdentifier</property>
        <defaultValue>false</defaultValue>
        <description>Whether or not to show the research identifier</description>
    </globalProperty>

    <globalProperty>
        <property>fhir2.immunizationsEncounterTypeUuid</property>
        <defaultValue>87a0d5b1-53dc-4269-bf39-ada0d5d16c0c</defaultValue>
        <description>The encounter type uuidthat supports immunization app</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.github.organization</property>
        <defaultValue>METS-Programme</defaultValue>
        <description>The metadata GitHub organization name</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.github.reponame</property>
        <defaultValue>ugandaemr-metadata</defaultValue>
        <description>The metadata GitHub repo name</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.github.branch</property>
        <defaultValue>main</defaultValue>
        <description>The metadata GitHub branch name</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.github.directory</property>
        <defaultValue>configuration</defaultValue>
        <description>The metadata GitHub directory name</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.github.frontend.directory</property>
        <defaultValue>frontend</defaultValue>
        <description>The frontend GitHub directory name</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.path</property>
        <defaultValue>/configuration/metadata/</defaultValue>
        <description>The metadata path of UgandaEMR</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.configuration</property>
        <defaultValue>/</defaultValue>
        <description>The configuration path of UgandaEMR</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.frontend</property>
        <defaultValue>/</defaultValue>
        <description>The frontend path of UgandaEMR</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.htmlFormPath</property>
        <defaultValue>/configuration/forms/htmlforms/</defaultValue>
        <description>The html forms path of UgandaEMR</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.externalhtmlforms.initialize</property>
        <defaultValue>false</defaultValue>
        <description>Allow external initialization of HTML Forms</description>
    </globalProperty>

    <globalProperty>
        <property>ugandaemr.metadata.jsonFormPath</property>
        <defaultValue>/configuration/forms/jsonforms/</defaultValue>
        <description>The json forms path of UgandaEMR</description>
    </globalProperty>

    <privilege>
        <name>Task: HIV Clinic Access</name>
        <description>Able to access HIV patient clinic information</description>
    </privilege>

    <privilege>
        <name>SQL Level Access</name>
        <description>Access to SQL Querying</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.dataIntegrityViolation</name>
        <description>Access data integrity Violations on patient dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.lastARTVisitSummary</name>
        <description>Access Last ART Visit Summary on patient dashborad</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.artStatus</name>
        <description>Access ART Status on patient dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.patientSummary</name>
        <description>Access Patient Summary on patient dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.viralLoadHistory</name>
        <description>Access Viral load History on patient dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.dsdmPatientHistory</name>
        <description>For Widget that shows the patient history in DSDM Model</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.directionsToResidence</name>
        <description>Access Directions to Residence on patient dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.eidSummary</name>
        <description>Access eidSummary On Patient Dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.widget.mchSummary</name>
        <description>Access MCH Summary on patient Dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.report.cohortBuilder</name>
        <description>Access Link to Manage cohort builder reports</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.backup.backupDatabase</name>
        <description>Access App to the Backup</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.spa</name>
        <description>Access Spa</description>
    </privilege>

    <privilege>
        <name>App: fingerprint.findPatient</name>
        <description>Privilege to allow access to find patient fingerprint app</description>
    </privilege>

    <privilege>
        <name>App: fingerprint.addPatientFingerprint</name>
        <description>Privilege to allow adding patient fingerprint</description>
    </privilege>

    <privilege>
        <name>App: fingerprint.fingerprintDetails</name>
        <description>Privilege to allow access to the fingerprint details on the patients dashboard</description>
    </privilege>

    <privilege>
        <name>App: fingerprint.configs</name>
        <description>Privilege to allow adding changing fingerprint settings</description>
    </privilege>

    <privilege>
        <name>App: fingerprint.statistic</name>
        <description>Privilege to allow access to fingerprint statistics</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.triage</name>
        <description>Access to the triage provider dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.outpatient</name>
        <description>Access to the OPD clinic provider dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.artclinic</name>
        <description>Access to the HIV clinic provider dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.tbclinic</name>
        <description>Access to the TB Clinic provider dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.laboratory</name>
        <description>Access to the laboratory dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.pharmacy</name>
        <description>Access to the Pharmacy dashboard</description>
    </privilege>

    <privilege>
        <name>App: ugandaemr.findPatient</name>
        <description>find patient ugandaemr app privilege</description>
    </privilege>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
    </aware_of_modules>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->

    <!-- Global Properties -->
</module>

